body {
    width: 1370px;
    height: 950px;
    background-color: #cccccc;
}
.wrapper {
    width: 1060px;
    height: 900px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    margin: 0 auto;
    padding: 40px 0 30px 56px;
    background-color: #ffffff;
}
.logo_menu {
    width: 966px;
    height: 800px;
}
.top_menu {
    width: 966px;
    height: 30px;
    padding: 13px 0 0 0;
    margin: 50px 10px 13px 0;
    background: #696969;
    background: -moz-linear-gradient(top,  #696969 0%, #444343 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#444343));
    background: -webkit-linear-gradient(top,  #696969 0%,#444343 100%);
    background: -o-linear-gradient(top,  #696969 0%,#444343 100%);
    background: -ms-linear-gradient(top,  #696969 0%,#444343 100%);
    background: linear-gradient(to bottom, #696969 0%,#444343 100%);
}
.top_menu a {
    margin: 0 0 0 35px;
    padding: 10px 20px 13px 20px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(107, 126, 126, 1);
    color: #ffffff;
}
.top_menu li {
    display: inline;
}
.top_menu a:hover {
    background-color: black;
    border-left: 1px solid ghostwhite;
    border-right: 1px solid ghostwhite;
    background: #4a4a4a;
    text-shadow: 1px 1px 2px rgba(107, 126, 126, 1);
    background: -moz-linear-gradient(top,  #696969 0%, #2e2e2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#2e2e2e));
    background: -webkit-linear-gradient(top,  #696969 0%,#2e2e2e 100%);
    background: -o-linear-gradient(top,  #696969 0%,#2e2e2e 100%);
    background: -ms-linear-gradient(top,  #696969 0%,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #696969 0%,#2e2e2e 100%);
    padding: 10px 20px 13px 20px;

}
.left_column {
    width: 240px;
    margin: 40px 0 0 0;
    float: left;
    border: 1px solid #cccccc;
}
.left_column a {
    color: #656363;
    text-decoration: none;

}
.left_column li {
    border-bottom: 2px solid #cccccc;
    padding: 10px 0 10px 24px;
}
.left_column a:hover {
    color: #333333;
    padding: 0 0 0 12px;

}
.content {
    width: 680px;
    height: 401px;
    border: 1px solid #cccccc;
    margin: 40px 0 0 0;
    float: right;
}
.text {
    color: #353535;
    width: 655px;
    margin: 40px 0 0 0;
    line-height: 25px;
    padding: 0 25px 0 25px;
    float: right;
}
.footer ul {
    background-color: lightgray;
    width: 966px;
    height: 30px;
    margin: 50px 0 0 0;
    padding: 13px 0 0 0;
}
.footer li {
    display: inline;


}
.footer a {
    text-decoration: none;
    color: #353535;
    margin: 0 0 0 70px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .owner {
    padding: 0 23px 0 0;
    float: right;
}