html {
    max-width: 99%;
    max-height: 99%;
    overflow: hidden;
}

.picture {
    background-image: url(../img/background.jpg);
    top: 36px;
}
.top-menu {
    width: 1921px;
    height: 36px;
    background-color: #006699;

}
.top-menu li {
    float: left;
    position: relative;
    left: 500px;
    display: inline;
    padding: 10px 10px;
    text-decoration: none;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#ola {
    border-left: 1px solid #00a8fd;
    border-right: 1px solid #00a8fd;

}
#ajuda {
    border-right: 1px solid #00a8fd;
}
.top-menu a {
    color: #6699ff;
    text-decoration: none;
    padding: 5px;
}

/*.border {*/
    /*width: 2px;*/
    /*border-left: 1px solid #56a2dc;*/
    /*margin: 3px 15px;*/
/*}*/
#flag a {

    margin: 0 5px -9px 0;
    color: white;
}
#flag img {
    padding: 0 0 0 15px;
    margin: 0 5px -9px 0;
}
#ola a, p {
    color: white;
}
#ola a:hover {
    text-decoration: underline;
}
.top-menu li:hover {
    background-color: #6699cc;
    color: white;
}
.top-menu a:hover {
    color: white;
}

#cadastr {
    position: relative;
    top: -64px;
    left: 0;
    width: 560px;
    height: 62px;
    background-color: #292929;
    opacity: 0.7;
    text-align: center;
}
#cadastr p {
    font-size: 30px;
    font-weight: 300;
    padding: 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.left_phantom {
    position: absolute;
    float: left;
    width: auto;
}
.box {
    position: absolute;
    top: 57%;
    left: 50%;
    width: 560px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.right_phantom {
    position: absolute;
    float: right;
    width: auto;
}
#face {
    position: relative;
    float: right;
    right: 135px;
    top: -26px;
    width: 276px;
    height: 36px;
    background: #405690;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #526db7 0%, #2c4176 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#526db7), color-stop(100%,#2c4176));
    background: -webkit-linear-gradient(top,  #526db7 0%,#2c4176 100%);
    background: -o-linear-gradient(top,  #526db7 0%,#2c4176 100%);
    background: -ms-linear-gradient(top,  #526db7 0%,#2c4176 100%);
    background: linear-gradient(to bottom,  #526db7 0%,#2c4176 100%);
}
#face p {
    display: inline-block;
    font-size: 26px;
    color: white;
    left: 10px;
    top: 2px;
    border-right: 1px solid #5775bb;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 4px 20px 5px 0px;
    font-weight: 700;

}
#face span {
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 0 5px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#face a {
    color: white;
    text-decoration: none;
    padding: 0 5px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ou p {
    position: relative;
    float: left;
    left: 285px;
    top: 50px;
    text-align: center;
    color: #8e8f8e;

}
.ou p:before,
.ou p:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid gray ;
    box-shadow:0px 1px 0 #111100;
    top: 0;
    width: 125px;
}
.ou p:before {
    right: 100%;
    margin-right: 10px;
}
.ou p:after {
    left: 100%;
    margin-left: 10px;
}
.form {
    position: relative;
    float: right;
    top: 60px;
    left: 140px;
    width: 276px;
    height: 400px;
}
.form input {
    width: 276px;
    height: 36px;
    margin: 17px 0 0 0;
    padding: 0 10px;
    background-color: #111111;
    border: none;
    border-bottom: 1px solid #8d8d8d;


}
 [name = first], [name = last], [name = email], [name = confirm], [name = pass] {
    color: white;
    padding: 0 0 0 10px;
}
.chek {
    position: relative;
    float: right;
    display: inline;
    right: 140px;
    margin-top: -55px;

}
.chek span {
    color: white;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.create {
    position: relative;
    float: right;
    right: 196px;
    bottom: 26px;
    width: 150px;
    height: 36px;
    background: #405690;
    border-radius: 3px;
    background: -moz-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6181d8), color-stop(100%, #3d5aa3));
    background: -webkit-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: -o-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: -ms-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: linear-gradient(to bottom, #6181d8 0%, #3d5aa3 100%);
}
.create p {
    padding: 10px;
}
.create a {
    text-decoration: none;
    color: white;
}
.by_click {
    position: relative;
    float: left;
    left: 135px;
    text-align: center;
    bottom: -22px;
    width: 300px;
    height: 26px;
}
.by_click p {
    font-size: 15px;
    color: #afafaf;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form input:hover {
    background-color: #336699;
    -webkit-box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
