/*

body {
    overflow: hidden;
    height: 100%;*/

.picture {
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 36px;
}
.top-menu {
    width: 1415px;
    height: 36px;
    background-color: #006699;

}
.top-menu li {
    float: left;
    position: relative;
    left: 420px;
    display: inline;
    padding: 10px 15px;
    text-decoration: none;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.top-menu a {
    color: #6699ff;
    text-decoration: none;
    padding: 5px;
}
#flag a {
    border-right: 1px solid #00a8fd;
    margin: 0 5px -9px 0;
    color: white;
}
#flag img {
    border-left: 1px solid #00a8fd;
    padding: 0 0 0 25px;
    margin: 0 5px -9px 0;
}
#ola a, p {
    color: white;
}
#ola a:hover {
    text-decoration: underline;
}
.top-menu li:hover {
    background-color: #6699cc;
    color: white;
}
.top-menu a:hover {
    color: white;
}
/*#ola a:hover {
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
}*/

#cadastr {
    position: relative;
    top: -64px;
    left: 0px;
    width: 560px;
    height: 62px;
    background-color: #292929;
    opacity: 0.7;
    text-align: center;
}
#cadastr p {
    font-size: 30px;
    font-weight: 300;
    padding: 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.box {
    position: absolute;
    top: 217px;
    width: 560px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0 354px 0 354px;
}
#face {
    position: relative;
    float: right;
    right: 135px;
    top: -26px;
    width: 276px;
    height: 36px;
    background: #405690;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #526db7 0%, #2c4176 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#526db7), color-stop(100%,#2c4176));
    background: -webkit-linear-gradient(top,  #526db7 0%,#2c4176 100%);
    background: -o-linear-gradient(top,  #526db7 0%,#2c4176 100%);
    background: -ms-linear-gradient(top,  #526db7 0%,#2c4176 100%);
    background: linear-gradient(to bottom,  #526db7 0%,#2c4176 100%);
}
#face p {
    display: inline-block;
    font-size: 26px;
    color: white;
    left: 10px;
    top: 2px;
    border-right: 1px solid #5775bb;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    padding: 4px 20px 5px 0px;
    font-weight: 700;

}
#face span {
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 0 5px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#face a {
    color: white;
    text-decoration: none;
    padding: 0 5px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ou p {
    position: relative;
    float: left;
    left: 265px;
    top: 50px;
    text-align: center;
    color: #8e8f8e;

}
.form {
    position: relative;
    float: right;
    top: 60px;
    left: 140px;
    width: 276px;
    height: 400px;
}
.form input {
    width: 276px;
    height: 36px;
    margin: 17px 0 0 0;
    background-color: #111111;
    border: none;
    border-bottom: 1px solid #8d8d8d;

}
 [name = first], [name = last], [name = email], [name = confirm], [name = pass] {
    color: white;
    padding: 0 0 0 10px;
}
.chek {
    position: relative;
    float: right;
    display: inline;
    right: 140px;
    margin-top: -55px;

}
.chek span {
    color: white;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.create {
    position: relative;
    float: right;
    right: 196px;
    bottom: 26px;
    width: 150px;
    height: 36px;
    background: #405690;
    border-radius: 3px;
    background: -moz-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6181d8), color-stop(100%, #3d5aa3));
    background: -webkit-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: -o-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: -ms-linear-gradient(top, #6181d8 0%, #3d5aa3 100%);
    background: linear-gradient(to bottom, #6181d8 0%, #3d5aa3 100%);
}
.create p {
    padding: 10px;
}
.create a {
    text-decoration: none;
    color: white;
}
.by_click {
    position: relative;
    float: left;
    left: 135px;
    text-align: center;
    bottom: -22px;
    width: 300px;
    height: 26px;
}
.by_click p {
    font-size: 15px;
    color: #afafaf;
}

.form input:hover {
    background-color: #336699;
    -webkit-box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
